@tailwind base;
@tailwind components;
@tailwind utilities;


  /* :root {
    background-color: #f0f9ff;
  } */

  .light{
    /* background-color: #f1f9ff; */
    background-color: #fff9ec;
    /* background-color: #2081ff; */
  }
 
  .dark {
    /* background: black; */
    /* background-color: #05060f; */
    background-color: black;
  }

  html {
    
    scroll-behavior: smooth;
  }

  img{
    border-radius: 8px;
  }

